services:
  app:
    build: .
    container_name: health-service-app
    expose:
      - "8000"

  nginx:
    image: nginx:alpine
    container_name: health-service-nginx
    ports:
      - "8081:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
