version: "3.9"

services:
  app:
    build: .
    container_name: health-service-app
    expose:
      - "8000"
    restart: always
    env_file:
      - .env


      

  nginx:
    image: nginx:latest
    container_name: health-service-nginx
    ports:
      - "8081:80"   # <--- هنا بدلنا البورت
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
